<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= movie.name %> </h1>
    <a href="/">Back to Index</a><br>
    <a href="<%= movie.id %>/edit">Edit Film</a>
    <div>
        <img src="<%= movie.poster %>"><br>
        Release Date: <%= movie.year %> 
    </div><br>
    <form action="/<%= movie.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE MOVIE">
    </form>
</body>
</html>