<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= movie.title %> </h1>
    <a href="/">Back to Index</a><br>
    <a href="<%= movie.id %>/edit">Edit Film</a>
    <div>
        <img src="<%= movie.poster %>"><br>
        Release Date: <%= movie.year %> 
    </div><br>
    <form action="/<%= movie.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE MOVIE">
    </form><br>
    <h2>Comment Section</h2>
    <% for (i=0;i<posts.length;i++){ %>
        <h4><%= posts[i].subject %></h4>
        By: <%= posts[i].author %><img src="<%= posts[i].picture %>"><br>
        <%= posts[i].body %>
        <form action="/post/<%= posts[i].id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE COMMENT">
    </form>
    <% } %>
    <div>
        <h3>Comment on This Movie</h3>
        <form action="/<%= movie.id %>" method="POST">
            Title Your Post: <input type="text" name="subject" placeholder="required"><br>
            Your Comment: <input type="text" name="body"><br>
            <input type="text" name="tag" value="<%= movie.title %>">
            <input type="submit" name="" value="Add Comment">
        </form>
    </div>
</body>
</html>